.conteiner {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.title,
.caption {
    font-style: normal;

    text-align: center;
    color: #000;
}

.title {
    font-weight: bold;
    font-size: 42px;
}

.caption {
    font-weight: normal;
    font-size: 32px;
}